<!DOCTYPE html>
<html lang="en">

<head style="padding: 0; margin: 0;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/admin_users.css" />
</head>

<body style="padding: 0; margin: 0;">
    <header><h2 id="title">MYSQL TABLE JOIN PRACTICE</h2></header>
    <form id="logout_action" action="/basic/logout_logic" method="post"></form>
    <div id="logout_form"><a onclick="document.getElementById('logout_action').submit();">로그아웃</a><br></div>
    <% for(var i=0; i<data.length; i++) { %>
        <fieldset>
            <legend><%= data[i].id %></legend>
            <div id="name">이름 : <%= data[i].name %></div>
            <div id="email">이메일 : <%= data[i].email %></div>
            <div id="address">주소 : <%= data[i].address %></div>
            <div id="phone_num">전화번호 : <%= data[i].phone_num %></div>
            <div id="reg_date">가입일자 : <%= data[i].reg_date %></div>
            <form id="edit_user" action="/admin/update" method="post">
                <input type="hidden" value="<%= data[i].id %>" name="id">
            </form>
            <a id="edit" onclick="document.getElementById('edit_user').submit();">수정</a>
        </fieldset>
    <% } %>
</body>

</html>