<!DOCTYPE html>
<html lang="en">
<head style="padding: 0; margin: 0;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/user_edit.css" />
</head>
<body style="padding: 0; margin: 0;">
    <header><h2 id="title">MongoDB - Aggregate Practice</h2></header>
    <form id="logout_action" action="/basic/logout_logic" method="post"></form>
    <div id="logout_form"><a onclick="document.getElementById('logout_action').submit();">로그아웃</a><br></div>
    <nav>
        <ul>
            <li class="subtitle">아이디</li>
            <li class="subtitle">이름</li>
            <li class="subtitle">이메일</li>
            <li class="subtitle">전화번호</li>
            <li class="subtitle">주소</li> <!-- input과 사이즈 맞추기-->
        </ul>
    </nav>
    <section>
        <article>
            <ul>
                <form id="update_user_data" action="/basic/update_logic" method="post">
                    <li>: <%= data.id %><input type="hidden" value="<%= data.id %>" name="id"></li>
                    <li>: <input type="text" value="<%= data.name %>" name="name"></li>
                    <li>: <input type="email" value="<%= data.etc.email %>" name="email"></li>
                    <li>: <input type="tel" value="<%= data.etc.phone_number %>" name="phone_number"></li>
                    <li>: <textarea name="address"><%= data.etc.address %></textarea>
                </form>
            </ul>
        </article>
    </section>
    <form id="go_to_index" action="/basic/index" method="get"></form>
    <a onclick="document.getElementById('go_to_index').submit();">홈으로</a> | <a onclick="document.getElementById('update_user_data').submit();">수정</a> | <a onclick="history.back();">뒤로가기</a>
</body>
</html>